<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curtisnewbie.service.auth.dao.UserMapper">

  <update id="updatePwd">
    UPDATE user
    SET password = #{hashedPwd}
    WHERE id = #{id}
  </update>

  <update id="disableUserById">
    UPDATE user
    SET is_disabled = 1,
    update_by = #{disabledBy},
    update_time = #{disableTime}
    WHERE id = #{id} AND is_disabled = 0
  </update>

  <update id="enableUserById">
    UPDATE user
    SET is_disabled = 0,
    update_by = #{enabledBy},
    update_time = #{enableTime}
    WHERE id = #{id} AND is_disabled = 1
  </update>

  <select id="findByUsername" resultType="com.curtisnewbie.service.auth.dao.UserEntity">
    SELECT *
    FROM user
    WHERE username = #{username}
  </select>

  <select id="findIdByUsername" resultType="java.lang.Integer">
    SELECT id
    FROM user
    WHERE username = #{username}
    LIMIT 1
  </select>

  <!-- disabled admins are not included -->
  <select id="countAdmin" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM user
    WHERE role = 'admin'
    AND is_disabled = 0
  </select>

  <!-- disabled users are not included -->
  <select id="findNormalUserInfoList" resultType="com.curtisnewbie.service.auth.dao.UserEntity">
    SELECT id, username, role
    FROM user
    WHERE is_disabled = 0
  </select>

  <select id="findAllUserInfoList" resultType="com.curtisnewbie.service.auth.dao.UserEntity">
    SELECT id, username, role, is_disabled
    FROM user
  </select>

  <select id="findById" resultType="com.curtisnewbie.service.auth.dao.UserEntity">
    SELECT *
    FROM user
    WHERE id = #{id}
  </select>

  <insert id="insert">
    INSERT INTO user (username, password, salt, role, create_time, create_by)
    VALUES (#{username}, #{password}, #{salt}, #{role}, #{createTime}, #{createBy})
  </insert>
</mapper>