<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curtisnewbie.service.auth.dao.UserMapper">

  <update id="updatePwd">
    UPDATE user
    SET password = #{hashedPwd}
    WHERE id = #{id}
  </update>

  <update id="updateUser">
    update user
    <set>
      <if test="role != null and role != ''">
        role = #{role},
      </if>
      <if test="isDisabled != null">
        is_disabled = #{isDisabled},
      </if>
      <if test="updateBy != null and updateBy != ''">
        update_by = #{updateBy},
      </if>
      update_time = #{updateTime}
    </set>
    where id = #{id}
  </update>

  <delete id="moveDisabledUser">
    insert into deleted_user (user_id, username, password, salt, role, create_time, create_by, delete_time, deleted_by)
    select id as 'user_id', username, password, salt, role, create_time, create_by, now(), #{deletedBy}
    from user
    where id = #{id}
  </delete>

  <delete id="deleteUser">
    delete from user
    where id = #{id}
  </delete>

  <select id="findByUsername" resultType="com.curtisnewbie.service.auth.dao.UserEntity">
    SELECT *
    FROM user
    WHERE username = #{username}
  </select>

  <select id="findIdByUsername" resultType="java.lang.Integer">
    SELECT id
    FROM user
    WHERE username = #{username}
    LIMIT 1
  </select>

  <!-- disabled admins are not included -->
  <select id="countAdmin" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM user
    WHERE role = 'admin'
    AND is_disabled = 0
  </select>

  <!-- disabled users are not included -->
  <select id="findNormalUserInfoList" resultType="com.curtisnewbie.service.auth.dao.UserEntity">
    SELECT id, username, role
    FROM user
    WHERE is_disabled = 0
  </select>

  <select id="findAllUserInfoList" resultType="com.curtisnewbie.service.auth.dao.UserEntity">
    SELECT id, username, role, is_disabled
    FROM user
  </select>

  <select id="findById" resultType="com.curtisnewbie.service.auth.dao.UserEntity">
    SELECT *
    FROM user
    WHERE id = #{id}
  </select>
  <select id="findUserInfoBy" resultType="com.curtisnewbie.service.auth.dao.UserEntity">
    Select id, username, role, is_disabled, create_by, create_time, update_by, update_time
    FROM user
    <where>
      <if test="username != null and username != ''">
        username like "%"#{username}"%"
      </if>
      <if test="role != null">
        and role = #{role}
      </if>
      <if test="isDisabled != null">
        and is_disabled = #{isDisabled}
      </if>
    </where>
  </select>
  <select id="findUsernameById" resultType="java.lang.String">
    select username
    from user
    where id = #{id}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user (username, password, salt, role, create_time, create_by, is_disabled)
    VALUES (#{username}, #{password}, #{salt}, #{role}, #{createTime}, #{createBy}, #{isDisabled})
  </insert>
</mapper>