<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.curtisnewbie.service.auth.infrastructure.repository.mapper.UserAppMapper">

  <insert id="insert" parameterType="com.curtisnewbie.service.auth.dao.UserApp">
    insert into user_app (id, user_id, app_id,
    create_time, create_by, update_time,
    update_by)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER},
    #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
    #{updateBy,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.curtisnewbie.service.auth.dao.UserApp">
    update user_app
    set user_id = #{userId,jdbcType=INTEGER},
    app_id = #{appId,jdbcType=INTEGER},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    create_by = #{createBy,jdbcType=VARCHAR},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="setAppsForUser">
    insert into user_app (user_id, app_id)
    values
    <foreach collection="appIdList" separator="," item="appId">
      (#{userId}, #{appId})
    </foreach>
  </update>

  <delete id="clearAppsForUser">
    delete from user_app
    where user_id = #{userId}
  </delete>

  <select id="selectAll" resultType="com.curtisnewbie.service.auth.dao.UserApp">
    select id, user_id, app_id, create_time, create_by, update_time, update_by
    from user_app
  </select>

  <select id="selectOneIfUserIsAllowed" resultType="java.lang.Integer">
    select 1
    from user_app
    where user_id = #{userId}
    and app_id =
    (
      select id
      from app
      where name = #{appName}
      limit 1
    )
  </select>
  <select id="getAppsPermittedForUser" resultType="com.curtisnewbie.service.auth.dao.App">
    select a.id, a.name
    from user_app ua
    left join app a on ua.app_id = a.id
    where ua.user_id = #{userId}
  </select>
</mapper>